@keyframes click-animation {
    0% { transform: scale(1.25) }
    30% { transform: scale(1) }
}

.animate {
    animation: click-animation 0.5s linear 0s 1;
}

h1, h3 {
    font-family: fantasy;
    text-align: center;
    user-select: none;
    cursor: default;
}

h1 {
    font-size: 400%;
    margin-bottom: 0;
}

h3 {
    font-size: 600%;
    margin-top: 0;
    white-space: nowrap;
}

div {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}